<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="remoteVideosContainer"></div>
  	
	<script>
		client = new RTCclient();
		client.peerOffer(window.location.pathname.slice(1));		
	</script>
  </body>
</html>